# Assignment 5 Recommender System and NN with numpy

In [8]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('radio_songs.csv')

In [10]:
df.head()

,user,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df = df.loc[:, df.sum() != 0]

df = df[df.iloc[:, 1:].sum(axis=1) != 0]

df = df.reset_index(drop = True)

In [12]:
df.head()

,user,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,three days grace,timbaland,tom waits,tool,tori amos,trivium,u2,underoath,volbeat,yann tiersen
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,42,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 1. Collaborative Filtering

Use this user-item matrix to:

A. Recommend 10 songs to users who have listened to 'u2' and 'pink floyd'. Use item-item collaborative filtering to find songs that are similar using spatial distance with cosine. Since this measures the distance you need to subtract from 1 to get similarity as shown below.

from scipy.spatial.distance import cosine

similarity = 1 - cosine(item1, item2).

In [13]:
# Item-item matrix 
items = df.drop(columns = "user")
artists = items.columns

sim1 = pd.DataFrame(index = artists, columns = artists)

sim1.head()

,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,all that remains,...,three days grace,timbaland,tom waits,tool,tori amos,trivium,u2,underoath,volbeat,yann tiersen
abba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ac/dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adam green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aerosmith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Similarity scores 
for i in artists:
    for j in artists:
        sim = 1 - cosine(items[i].values, items[j].values)
        sim1.loc[i, j] = sim

sim1.head()

,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,all that remains,...,three days grace,timbaland,tom waits,tool,tori amos,trivium,u2,underoath,volbeat,yann tiersen
abba,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ac/dc,0.0,1.0,0.0,0.0,0.223607,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.223607,0.0,0.2,0.0
adam green,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.707107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
aerosmith,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
afi,0.0,0.223607,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Similarity scores for u2
u2_sims = sim1.loc['u2'].drop('u2')

# Top 10 artists
top_10_u2 = u2_sims.sort_values(ascending=False).head(10)

for artist, score in top_10_u2.items():
    print(f"{artist}: {score:.2f}")

robbie williams: 0.50
misfits: 0.50
green day: 0.43
depeche mode: 0.41
peter fox: 0.38
dire straits: 0.35
kelly clarkson: 0.35
madonna: 0.35
johnny cash: 0.35
enter shikari: 0.35

In [16]:
# Similarity scores for pink floyd
pf_sims = sim1.loc['pink floyd'].drop('pink floyd')

# Top 10 artists
top_10_pf = pf_sims.sort_values(ascending=False).head(10)

for artist, score in top_10_pf.items():
    print(f"{artist}: {score:.2f}")

genesis: 0.58
funeral for a friend: 0.41
david bowie: 0.41
led zeppelin: 0.41
queen: 0.41
hans zimmer: 0.41
sonic syndicate: 0.41
coldplay: 0.35
howard shore: 0.33
bob dylan: 0.33

B. Find user most similar to user 1606. Use user-user collaborative filtering with cosine similarity. List the recommended songs for user 1606 (Hint: find the songs listened to by the most similar user).

In [17]:
users = items.index

sim2 = pd.DataFrame(index = users, columns = users)

sim2.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
user_1606_index = df[df['user'] == 1606].index[0]

In [19]:
# Cosine similarity scores 
for i in users:
    for j in users:
        sim = 1 - cosine(items.loc[i].values, items.loc[j].values)
        sim2.loc[i, j] = sim

sim2.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,1.0,0.061546,0.0,0.0,0.083624,0.0,0.0,0.0,0.0,0.150756,...,0.1066,0.0,0.0,0.190693,0.0,0.0,0.0,0.0,0.0,0.0
1,0.061546,1.0,0.077152,0.247537,0.226455,0.176777,0.0,0.0,0.0,0.102062,...,0.0,0.0,0.06455,0.193649,0.0,0.0,0.045644,0.0,0.091287,0.0
2,0.0,0.077152,1.0,0.0,0.0,0.0,0.0,0.09167,0.0,0.0,...,0.0,0.0,0.0,0.0,0.094491,0.0,0.0,0.125988,0.0,0.0
3,0.0,0.247537,0.0,1.0,0.336336,0.140028,0.0,0.0,0.108465,0.121268,...,0.0,0.0,0.076696,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.083624,0.226455,0.0,0.336336,1.0,0.160128,0.0,0.067267,0.124035,0.138675,...,0.0,0.0,0.175412,0.087706,0.0,0.0,0.062017,0.0,0.0,0.0

In [20]:
# Scores for user 1606
user_1606_sims = sim2.loc[user_1606_index].drop(user_1606_index)

sim_user = user_1606_sims.idxmax()  

print("Most similar user to user 1606:", df.loc[sim_user]["user"])

Most similar user to user 1606: 1144

In [21]:
# Artists listened to by the most similar user
sim_artists = items.loc[sim_user]

# Recommended artists based on what user has listened to 
recommended_artists = sim_artists[(sim_artists == 1)]

recommended_artists = recommended_artists.index.tolist()
print(f"Artists recommended for user 1606:")
for artist in recommended_artists:
    print(artist)

Artists recommended for user 1606:
beastie boys
bob dylan
bob marley & the wailers
david bowie
elvis presley
eric clapton
johnny cash
pearl jam
pink floyd
the beatles
the doors
the rolling stones
tom waits

C. How many of the recommended songs has already been listened to by user 1606?

In [22]:
artists_listened = sim_artists[(sim_artists == 1) & (items.loc[user_1606_index] == 1)]

print("Artists user 1606 has already listened to from the recommendations:")
for artist in artists_listened.index:
    print(artist)

Artists user 1606 has already listened to from the recommendations:
elvis presley
the beatles

D. Use a combination of user-item approach to build a recommendation score for each song for each user using the following steps for each user-

1. For each song for the user row, get the top 10 similar songs and their similarity score.

In [26]:
items.head()

,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,all that remains,...,three days grace,timbaland,tom waits,tool,tori amos,trivium,u2,underoath,volbeat,yann tiersen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# Listening history
history = items.loc[user_1606_index]
history = history[history == 1]
history = history.index.tolist()

print("Artists user 1606 has already listened to:")
for artist in history:
    print(artist)
# Artists not listened to
not_listened = recommended_artists
not_listened = [artist for artist in not_listened if artist not in history]
print("Artists user 1606 has not listened to:")
for artist in not_listened:
    print(artist)

# pick one candidate to test
candidate = not_listened[0]
print(f"Candidate artist: {candidate}")
candidate_index = items.columns.get_loc(candidate)

Artists user 1606 has already listened to:
abba
elvis presley
frank sinatra
the beatles
Artists user 1606 has not listened to:
beastie boys
bob dylan
bob marley & the wailers
david bowie
eric clapton
johnny cash
pearl jam
pink floyd
the doors
the rolling stones
tom waits
Candidate artist: beastie boys

In [31]:
# Ensure item_user_matrix and v_cand are defined before this cell
# Assuming v_cand is the vector for the candidate artist
v_cand = items[candidate].values  # Replace 'items' with the correct DataFrame if needed
item_user_matrix = items.T  # Transpose items to get artist-user matrix

sims = {}
for artist, row in item_user_matrix.iterrows():
    if artist == candidate:
        continue
    v = row.values
    sims[artist] = (
        0.0
        if v_cand.sum() == 0 or v.sum() == 0
        else 1 - cosine(v_cand, v)
    )

# Top 10 by similarity
top10 = pd.Series(sims).loc[lambda x: x > 0].nlargest(10)
print("Top 10 similar artists:")
print(top10)

Top 10 similar artists:
the notwist            0.577350
beck                   0.471405
amy macdonald          0.408248
aphex twin             0.408248
manowar                0.408248
the pussycat dolls     0.408248
bright eyes            0.365148
the doors              0.365148
david bowie            0.288675
death cab for cutie    0.288675
dtype: float64

2. For each of the top 10 similar songs, get a list of the user purchases.

In [30]:
# For each of the top 10 similar songs, get a list of the user purchases.
user_1606_purchases = items.loc[user_1606_index]
user_1606_purchases = user_1606_purchases[user_1606_purchases == 1]
user_1606_purchases = user_1606_purchases.index.tolist()
print("User 1606 purchases:")
for purchase in user_1606_purchases:
    print(purchase)
# Get the index of the candidate
candidate_index = items.columns.get_loc(candidate)

User 1606 purchases:
abba
elvis presley
frank sinatra
the beatles

In [32]:
# Extract the listening history of user_1606_index
user_vec = items.loc[user_1606_index]

# Check if the user listened to the top 10 similar songs
user_top10 = user_vec[top10.index]
print("Did user listen to top 10 similar songs? (1=yes,0=no)")
print(user_top10)

Did user listen to top 10 similar songs? (1=yes,0=no)
the notwist            0
beck                   0
amy macdonald          0
aphex twin             0
manowar                0
the pussycat dolls     0
bright eyes            0
the doors              0
david bowie            0
death cab for cutie    0
Name: 95, dtype: int64

3. Calculate a recommendation score as follows: sum(purchasehistory*similarityscore)/ sum(similarityscore).

In [33]:
numerator   = (top10 * user_top10).sum()
denominator = top10.sum()
score = numerator/denominator if denominator else 0.0
print(f"Recommendation score for {candidate}: {score:.4f}")

Recommendation score for beastie boys: 0.0000

4. What are the top 5 song recommendations for user 1606?

In [36]:
all_scores = {}

# recommendation score for each unheard artist
for candidate in not_listened:
    # top 10 similar artists to the candidate (excluding itself)
    similar_to_candidate = sim1[candidate].drop(candidate).sort_values(ascending=False).head(10)
    
    # check if user listened to these similar artists
    user_listened = user_vec[similar_to_candidate.index]
    
    # calculate recommendation score
    numerator = (similar_to_candidate * user_listened).sum()
    denominator = similar_to_candidate.sum()
    score = numerator/denominator if denominator > 0 else 0.0
    all_scores[candidate] = score

recommendation_scores = pd.Series(all_scores)
top5_recommendations = recommendation_scores.nlargest(5)

print("Top 5 song recommendations for user 1606:")
print(top5_recommendations)

Top 5 song recommendations for user 1606:
eric clapton                0.202740
david bowie                 0.171243
bob marley & the wailers    0.088449
the rolling stones          0.079358
beastie boys                0.000000
dtype: float64

## 2. Conceptual questions

1. Name 2 other similarity measures that you can use instead of cosine similarity above.

_- Pearson Correlation Coefficient: This measures the linear correlation between two variables, ranging from -1 which means perfect negative correlation to +1 which is perfect positive correlation. It's particularly useful for recommender systems because it accounts for differences in user rating scales, since some users rate everything highly, others are more critical. The formula is:_

_pearson(x, y) = cov(x, y) / (σx * σy)_

_Where cov is covariance and σ represents the standard deviation._

_-Jaccard Similarity: This measures similarity between sample sets by comparing what they have in common with what they have in total. It's calculated as the size of the intersection divided by the size of the union:_

_jaccard(A, B) = |A ∩ B| / |A ∪ B|_

_This is particularly useful for binary data as it focuses on the presence or the absence rather than the values._

2. What is needed to build a Content-Based Recommender system?

_-Item features: Detailed metadata about each item, like in this example songs and artists. This could include: genre, release year, artist country, artist gender, tempo, energy, lyrics themes, etc._

_-User profiles: Information about users' preferences, which can be: ratings, likes, listening history, browsing behavior, etc_

_-Feature extraction techniques: Methods to convert raw content into meaningful features like text mining for descriptions, audio analysis for music or NLP for text content._

_-Similarity calculation mechanism: Algorithms to match user profiles with content features._

_-A weighting scheme: To determine which features are more important in recommendations_

_Unlike collaborative filtering, content-based systems don't need data from other users they can make recommendations based solely on a particular user's history and the content features._

3. Name 2 methods to evaluate your recommender system.

_1. Precision and Recall or F1-Score:_
_Precision is the fraction of recommended items that are relevant, it measures how many recommended items did the user actually like. Recall respresents the fraction of relevant items that were recommended, how many of the items the user would like were actually recommended. And F1 Score is a mean of precision and recall, providing a balance between the two. They help understand both the accuracy of recommendations and how comprehensive they are._

_2. Mean Average Precision (MAP) or Normalized Discounted Cumulative Gain (NDCG):_
_They evaluate the quality of ranking in the recommendations, they give higher importance to items ranked higher in the recommendation list. NDCG specifically considers that items at the top of the list are more likely to be seen by users._

_Other evaluation methods could be A/B testing with real users or Mean Absolute Error for rating prediction._